* {
    font-family: 'Monospace';
}
h1 {
  color: #DBDBDB;
}

.header-main {
  color: #DBDBDB;
}
.opener{
    font-size: 2.5rem;
}

.subtitle {
    margin-top: -10px;
    padding-bottom: 1.3rem;
    font-size: 25px;
    text-align: justify;
}

.folio-title {
  font-weight: bold;
  padding-right: 0.4rem;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.folio-sinopsis {
  font-size: 1.1rem;
  text-align: right;
}

.container {
  padding: 20rem 20rem;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);

}

.tab {
  width: 100%;
  overflow: hidden;
  font-size: .9rem;
  color: #DBDBDB;
  img {
    max-width: 300px;
}
  &-label {
    display: flex;
    flex-grow: row;
    justify-content: space-between;
    &:hover {
        color: #F23F52;
    }
    cursor: pointer;
    /* Icon */
    &::after {
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    display: flex;
    flex-flow: column;
    background-color: transparent;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75em;
    cursor: pointer;

  }
}

// :checked
input:checked {
  + .tab-label {
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    width:90%;
    font-size: .9rem;
    img {
        max-width:300px;
        float: left;
        padding:0 25px 25px 0;
    }
  }
}

.repolinks {
    a {
    color: #DBDBDB;
    display: block;
    margin-top: 10px;
    &:hover {
        color: #F23F52;
    }
    &:visited {
        text-decoration: none;
    }
  }
}


@media(max-width:800px) {

    .folio-title {

        font-size: 0.9rem;
      }

      .folio-sinopsis {
        font-size: 0.9rem;
      }


}



@media(max-width:500px) {

  .opener {
    font-size: 28px;
  }
  .subtitle {
    font-size: 14px;
  }

  input:checked {
    ~ .tab-content {
      img {
        max-width: 210px;
      }
    }
  }

  .folio-title {
      font-size: 0.75rem;
      padding-right: 1rem;
    }

  .folio-sinopsis {
    font-size: 0.75rem;
  }
}
