body {
  margin: 0;
  background-color: black;
}

hr {
  margin-top: 2rem;
}

h1 {
  font-size: 5rem;
  margin: 0 0 1rem 0;
  font-family: 'Open Sans', sans-serif;
}

.attr {
    font-family: 'Anonymous Pro', monospace;
    background-color: #F23F52;
    font-size:1.2rem;
    margin: 0 .5rem 0 .5rem;

  }

  .attr:hover {
    background-color: transparent;
 }


.icons {
    padding: 1rem;
    a {
      color: #DBDBDB;
      &:visited {
        color: #DBDBDB;
      }
    }
    .fab {
      -webkit-transition: -webkit-transform .2s ease-in-out;
      transition:         transform .2s ease-in-out;

      &:hover {
      -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
      }

    }

  }

  i {
    font-size: 1.6rem;
    padding:1rem;
  }


.header-main {
  padding: 2rem 20rem 2rem 20rem;
  text-align: center;

}


.content-main {
  padding: 2rem 10rem 5rem 10rem;
}

.pages-link {
  padding: 0 2rem 0 2rem;
  margin-bottom: 1rem;

  a {
    color: #DBDBDB;
    padding: 0 1rem 1rem 1rem;
    &:hover {
        color: #F23F52;
    }
    &:visited {
        text-decoration: none;
    }
  }
}

@media(max-width:1400px) {

  .header-main {
    padding: 0;
  }


  .content-main {
    padding: 2rem 2rem 5rem;
  }
}


@media(max-width:650px) {

  .header-main {
    padding: 0;
  }


  .content-main {
    padding-bottom: 5rem;
  }
}

.nodecor {
  text-decoration: none;
  color: #DBDBDB;
  &:hover {
    color: #F23F52;
  }
}
